# -----------------------------
# Python virtual environment
# -----------------------------
venv/
.env

# -----------------------------
# Dataset (CICIDS2017 etc.)
# -----------------------------
Dataset/
data/
alerts.db

# -----------------------------
# ML models & artifacts
# -----------------------------
models/
model/
*.pkl
*.joblib
*.h5
*.pt

# -----------------------------
# Experiment outputs
# -----------------------------
demo/
*.csv
*.parquet

# -----------------------------
# Cache
# -----------------------------
__pycache__/
.pytest_cache/
*.pyc
*.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Frontend
# -----------------------------
node_modules/
dist/
build/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db